@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
}

@keyframes blink-red {
  0%, 100% { opacity: 1; }
  50% { fill: #ef4444 !important; opacity: 0.8; }
}

.animate-blink-red {
  animation: blink-red 0.8s infinite;
}
